{:todo/name #:db{:type "text", :nil? false}, :member/email #:db{:type "text"}, :member/projects #:db{:type :many, :joins :project/member}, :idents #{:member/email :todo/id :member/name :tag/id :member/id :project/id}, :rels #{:member/projects :member/todos :todo/tags}, :cols #{:todo/name :tag/name :project/name}, :member/name #:db{:type "text"}, :tag/name #:db{:type "text", :nil? false}, :project/name #:db{:type "text", :nil? false}, :member/todos #:db{:type :many, :joins :todo/member}, :todo/tags #:db{:type :many, :joins :tag/todo}}